.navbar{
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: rgb(51, 51, 51);
    padding-left: 15px;
    padding-right: 40px;
    font-size: 1.5rem;
}

.span{
    color: #ffa500;
}

.icons{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: flex-end;

    
}


